<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.suki.wallet">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name="com.suki.wallet.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <service
            android:name=".service.WalletConnectService"/>
        <activity
            android:name=".app.walletConnect.WalletConnectTestingActivity"
            android:exported="false" />
        <activity
            android:name=".app.scanQrCode.ScanQrCodeActivity"
            android:exported="false" />
        <activity
            android:name=".app.walletAbstract.WalletAbstractActivity"
            android:exported="false"/>
        <activity
            android:name=".app.loginRegister.restoreWallet.RestoreWalletActivity"
            android:exported="false" />
        <activity
            android:name=".app.loginRegister.createWallet.CreateWalletActivity"
            android:exported="false" />
        <activity
            android:name=".app.loginRegister.LoginRegisterActivity"
            android:exported="false" />
        <activity android:name="com.innopage.core.webview.WebViewActivity" />
        <activity
            android:name=".LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Set intent for app link -->
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${hostName}"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.MainActivity"
            android:launchMode="singleTask" /> <!-- Setup firebase message service -->
        <service
            android:name="com.suki.wallet.utility.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>